/*.deb
/*.diff.gz
/*.dsc
/*.buildinfo
/*.changes
/*.orig.tar.gz
/*.debian.tar.xz
/etherlabmaster/*
!/etherlabmaster/debian/
/etherlabmaster/debian/etherlabmaster*/
/etherlabmaster/debian/tmp/
/etherlabmaster/debian/*.log
/etherlabmaster/debian/*.substvars
/etherlabmaster/debian/*.debhelper
/etherlabmaster/debian/*-stamp
/etherlabmaster/debian/autoreconf.*
/etherlabmaster/debian/files
/etherlabmaster/debian/.pc/

