#!/usr/bin/make -f

VERSION ?= $(shell dpkg-parsechangelog | sed -rne 's/^Version: ([0-9.]+(\+[0-9]*hg[0-9a-z]*)?).*$$/\1/p')

CONFFLAGS += --disable-eoe --enable-sii-assign

ifeq ($(DEB_HOST_ARCH_OS),linux)
	CONFFLAGS += --enable-kernel --enable-generic --enable-ccat --disable-8139too --disable-e100 --disable-e1000 --enable-e1000e --enable-igb --disable-r8169 --enable-hrtimer --enable-rtmutex
endif

default:
	echo "$(VERSION)"

%:
	dh $@ --with autoreconf,dkms

override_dh_autoreconf:
	touch ChangeLog
	dh_autoreconf

override_dh_clean:
	rm -f ChangeLog
	dh_clean

override_dh_auto_configure:
	dh_auto_configure -- \
		$(CONFFLAGS)

override_dh_install:
	dh_install --list-missing

	dh_install -petherlabmaster config.h globals.h Kbuild usr/src/etherlabmaster-$(VERSION)
	dh_install -petherlabmaster -X.o -X.ko -XMakefile -X.in -X.am examples/ include/ master/ tty/ usr/src/etherlabmaster-$(VERSION)
	dh_install -petherlabmaster debian/dkms/* usr/src/etherlabmaster-$(VERSION)
	dh_install -petherlabmaster devices/Kbuild devices/ecdev.h devices/generic.c usr/src/etherlabmaster-$(VERSION)/devices
	dh_install -petherlabmaster -X.o -X.ko -XMakefile -X.in -X.am devices/ccat/ usr/src/etherlabmaster-$(VERSION)/devices
	dh_install -petherlabmaster -X.o -X.ko -XMakefile -X.in -X.am devices/e1000e/ usr/src/etherlabmaster-$(VERSION)/devices
	dh_install -petherlabmaster -X.o -X.ko -XMakefile -X.in -X.am devices/igb/ usr/src/etherlabmaster-$(VERSION)/devices

override_dh_dkms:
	dh_dkms -V $(VERSION)
