#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpatch/dpatch.make

top_srcdir:=$(shell pwd)
tmp:=debian/tmp
tmp_absolute:=$(top_srcdir)/$(tmp)
extras:=debian/@EXTRAS@

unpack-stamp:
	tar xfj $(top_srcdir)/debian/etherlabmaster.tar.bz2 --strip-components=1
	touch $@

configure: configure-stamp
configure-stamp: unpack-stamp patch-stamp
	dh_testdir
	./bootstrap
	./configure --prefix=/usr --sysconfdir=/etc --localstatedir=/var --with-linux-dir=/@KERNEL_BUILDDIR@ @CONF_EXTRA@
	touch $@

build: build-stamp
build-stamp: configure-stamp
	dh_testdir
	$(MAKE) all modules
	touch build-stamp

clean: clean-patched unpatch
clean-patched: configure
	dh_testdir
	dh_testroot
	rm -f configure-stamp build-stamp
	$(MAKE) distclean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_installdirs

	$(MAKE) DESTDIR=$(tmp_absolute) install
	$(MAKE) INSTALL_MOD_PATH=$(tmp_absolute) modules_install

	rm -f $(tmp)/usr/sbin/ethercatctl 
	mv $(tmp)/etc/sysconfig $(tmp)/etc/default

	cp -dR $(extras)/* $(tmp)

	mkdir -p $(tmp)/usr/realtime-@KERNEL_VERSION@/modules/ethercat
	cp Module.symvers $(tmp)/usr/realtime-@KERNEL_VERSION@/modules/ethercat

	dh_install --sourcedir=$(tmp)

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installman
	dh_link
	dh_strip
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install

